.print-list {
  background-color: rgba(0, 0, 0, 0.1);
  display: table;
  width: 500px;
}

.print-list > li {
  display: table-row;
}

.print-list > li:hover {
  background-color: rgb(30, 30, 30);
}

.print-list > li:first-of-type {
  background-color: rgb(90, 90, 90);
  font-weight: bold;
}

.print-list div {
  display: table-cell;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.print-list div:not(div:first-of-type) {
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px;
}

.print-img-container {
  display: none;
  background-size: cover;
  height: 204px;
  position: absolute;
  width: 146px;
}
